
:root {
    --main-color: #1190cb;
    --darker-color: #0d74a3
}
.index-title{
    color: rgba(0,0,0,.84);
    margin-top:20px;
    font-size: 2rem;
    font-size: max(2rem, 4vw);
}
.index-sub{
    color: rgba(0,0,0,.54);
    font-size: 1.2rem;
    font-size: max(1.2rem, 2vw);

}
.index-text{
    margin-top:20px;
    color: rgba(0,0,0,.44);
}
.index-recent {
    margin: 4em 0;
}
.index-image{
    width: 200px;
    width: min(200px, 40vw);
    margin-bottom: 1em;
}
.social-icon{
    color: rgba(0,0,0,.44);
    font-size:2rem;
    margin: 0 .3rem;

}
.clock{
    margin-left: 25px;
}
.jumbotron.fortags a {
    background: var(--main-color);
}
.error{
    text-align: center !important;
}
@media(min-width: 769px){
    .md-nopad-right{
        padding-right: 0px !important;
    }
    .md-nopad-left{
        padding-left: 0px !important;
    }
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.8);
}